body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

section {
	margin: 50px 0;
}

/* Navbar */
.navbar-collapse ul {
	text-align: right;
}

.navbar-collapse ul .btn {
	margin-right: 0;
	margin-left: auto;
}

.navbar-nav li {
	padding-right: 15px;
}

.nav-link {
	font-size: 16px;
}

.btn-danger {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}


/*Carousel */
.carousel-inner {
	height: 600px;
}

.carousel-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-item:nth-child(1) {
	background: url(../img/people-in-concert-1763075.jpg) no-repeat center;
	background-size: cover;
}

.carousel-item:nth-child(2) {
	background: url(../img/people-at-concert-1105666.jpg) no-repeat center;
	background-size: cover;
}

.carousel-item:nth-child(3) {
	background: url(../img/silhouette-of-people-in-front-of-stage.jpg) no-repeat center;
	background-size: cover;
}

.carousel__text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	font-size: 30px;
	font-family: 'Neucha', cursive;
}

.carousel__text h1 {
	text-transform: uppercase;
	text-shadow: 0 0 10px #ccc;
}

/* Info */
#info {
	font-family: 'Neucha', cursive;
	margin: 50px auto;
}

.info__bg {
	display: flex;
	position: relative;
	justify-content: center;
}

.info__bg img {
	width: 100%;
	height: auto;
}

.info__number {
	color: #fff;
	font-size: 50px;
	font-weight: 700;

	display: flex;
	position: absolute;
	top: 24%;
	left: 50%;
	z-index: 2;
	transform: translate3d(-50%, -24%, 0);
}

.info__suptitle {
	font-size: 30px;

	text-align: center;
}

/* Groups */
.groups {
	margin: 50px 0;
}
.groups__card {
	position: relative;
	width: 100%;
	height: 280px;
}

.groups__img-1 {
	height: 280px;
	background: url("../img/groups/The Nexstone.jpg") no-repeat center;
	background-size: cover;
}

.groups__img-2 {
	height: 280px;
	background: url("../img/groups/epolets.jpg") no-repeat center;
	background-size: cover;
}

.groups__img-3 {
	height: 280px;
	background: url("../img/groups/Atmasfera.jpg") no-repeat center;
	background-size: cover;
}

.groups__img-4 {
	height: 280px;
	background: url("../img/groups/motanka.jpg") no-repeat center;
	background-size: cover;
}

.groups__img-5 {
	height: 280px;
	background: url("../img/groups/Фіолет.jpg") no-repeat center;
	background-size: cover;
}

.groups__img-6 {
	height: 280px;
	background: url("../img/groups/DETACH.jpg") no-repeat center;
	background-size: cover;
}

/* groups__collapse */
.groups__collapse {
	margin: 50px 0;
}

.groups__collapse .groups__img-1 {
	height: 280px;
	background: url("../img/groups/Beast Riders.jpg") no-repeat center;
	background-size: cover;
}

.groups__collapse .groups__img-2 {
	height: 280px;
	background: url("../img/groups/StereoЛом.jpg") no-repeat center;
	background-size: cover;
}

.groups__collapse .groups__img-3 {
	height: 280px;
	background: url("../img/groups/Morphine Suffering.jpg") no-repeat center;
	background-size: cover;
}

.groups__collapse .groups__img-4 {
	height: 280px;
	background: url("../img/groups/Ot Vintа.jpg") no-repeat center;
	background-size: cover;
}

.groups__collapse .groups__img-5 {
	height: 280px;
	background: url("../img/groups/Тінь Сонця.jpg") no-repeat center;
	background-size: cover;
}

.groups__collapse .groups__img-6 {
	height: 280px;
	background: url("../img/groups/hardkiss.jpg") no-repeat center;
	background-size: cover;
}

.groups__name {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 7%;
	z-index: 2;

	text-align: center;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.7;
}

/* fixed image */
.fixed-wrap {
	margin: 50px 0;
}

#fixed-img {
	height: 450px;
	width: 100%;
	border-top: 4px solid #f0f0f0;
	border-bottom: 4px solid #f0f0f0;
	background: url("../img/black-and-white-festival.jpg") no-repeat center fixed;
	background-blend-mode: multiply;
	background-color: tomato;
	background-size: cover;
}	

/* Media */
.card {
	margin: 25px 0;
}

.card:hover {
	text-decoration: none;
	box-shadow: 0 0 30px 10px rgba(66,65,66,0.6);
	transition: 0.3s linear;
}

.card-title {
	font-size: 25px;
	color: #222;
	font-family: 'Neucha', cursive;
}

.media {
	margin: 50px 0;
}

.media a {
	color: inherit;
}

/* Swiper */
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* Team */
.img__box {
	position: relative;
	margin: 20px auto;
	border-radius: 15px;
	overflow: hidden;
	max-width: 510px;
	height: 430px;
}

.team .col-md-6:nth-child(1) .img__box {
	background: url(../img/team/woman-wearing-orange-sweater-2343858.jpg) no-repeat center;
	background-size: cover;
}

.team .col-md-6:nth-child(2) .img__box {
	background: url(../img/team/back-view-of-woman-holding-her-denim-jacket-789812.jpg) no-repeat center;
	background-size: cover;
}

.team .col-md-6:nth-child(3) .img__box {
	background: url(../img/team/men-s-white-dress-shirt-2325755.jpg) no-repeat center;
	background-size: cover;
}

.team .col-md-6:nth-child(4) .img__box {
	background: url(../img/team/woman-wearing-red-dress-holding-turned-on-string-lights-1854129.jpg) no-repeat center;
	background-size: cover;
}

.team__text {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -65px;
	transform: translateY(-50%);

	text-align: center;
	color: #111;
	width: 100%;
	font-weight: 700;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	transition: 0.5s;
}

.img__box:hover .team__text {
	top: 10%;
	transform: translateY(-30%);

	color: #fff;
}

.img__box ul {
	display: flex;
	position: absolute;
	bottom: -10px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	transform: translateY(40px);
	transition: 0.5s;
}

.img__box:hover ul {
	transform: translateY(-30px);
}

.img__box ul li {
	list-style: none;
	width: 20%;
	box-sizing: border-box;
}

.img__box ul li a {
	margin: 10px;
	color: #fff;
	font-size: 30px;
}

.img__box ul li:hover:nth-child(1) {
	background: #3b5999;
}

.img__box ul li:hover:nth-child(2) {
	background: #e4405f;
}

.img__box ul li:hover:nth-child(3) {
	background: #0077B5;
}

.img__box ul li:hover:nth-child(4) {
	background: #dd4b39;
}
.img__box ul li:hover:nth-child(5) {
	background: #55acee;
}








/* Media Queries*/
@media screen and (max-width: 768px) {

	/*Carousel */
	.carousel-inner {
		height: 500px;
	}
}

@media screen and (max-width: 576px) {

	/*Carousel */
	.carousel-inner {
		height: 400px;
	}
}